@import "../Sass/variables.scss";
@import "../Sass//mixin.scss";

// Info style Starts

.info {
  h1 {
    text-align: center;
    font-weight: 600 !important;
    padding-top: 1rem;
    font-family: Source Serif Pro, Semibold;
  }

  .hr {
    height: 0.4rem !important;
    width: 7%;
    background-color: #e26a2c !important;
    margin-bottom: 2rem;
    margin-left: 33rem;
    opacity: 3 !important;
  }

  label {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.6rem;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 3px 4px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #b5b7bc;
    border-radius: 6px;
  }

  .price {
    border: 1px #d1d3d6 solid;
    padding: 0rem 2rem 1rem 2rem;
    margin-right: 1rem;
    // box-shadow: 5px 10px 8px 10px #0000000d;
    // border-radius: 0.3rem;
  }
  h2 {
    font-family: Source Serif Pro, Semibold;
    font-weight: 600;
  }
  h6 {
    padding-top: 1rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    button {
      @include checkout-button;
    }
  }
  .multi {
    color: #72777f;
  }
  .price {
    button {
      @include checkout-button;
    }
  }
  p {
    padding-top: 1rem;
    font-size: 0.9rem;
    margin: 0;
    letter-spacing: 0.4px;
  }
}

.shipping label {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.details {
  padding-right: 5rem;
  color: #535965;
}

.edit,
.info svg {
  color: $primarycolor;
}

input[type="radio"] {
  accent-color: $primarycolor;
}

.items {
  display: flex;
  padding-top: 2rem;
}

.items img {
  width: 100px;
  height: 100px;
}

.items p {
  padding-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
}

.success {
  padding-right: 15.5rem;
  color: #535965;
}

.sucess-icon {
  background-color: #FF8243;
  color: $white;
  padding: 3rem 4rem;

  h2 {
    font-family: Source Serif Pro, Semibold;
    font-weight: 100;
  }
  .social {
    padding: 0rem 2rem;
    svg {
      color: $white;
      margin-top: 3rem;
    }
  }
}

.terms{
  padding-top: 0 !important;
  padding-bottom: 1rem;

  a{
    text-decoration: underline !important;
  }
}

.info a,
.info a:hover {
  color: $primarycolor;
}

input[type="checkbox"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f096";
  opacity: 1 !important;
  margin-top: -25px;
  appearance: none;
  background: #fff;
  color: #1F39FA;
}

input[type="checkbox"]:checked:before {
  content: "\f046";
  color: #E26A2C;
}

input[type="checkbox"] {
  vertical-align:middle;
  font-size: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// Responsive


@media only screen and (min-width: 1440px) and  (max-width: 1500px) {

 
}

@media only screen and (min-width: 1024px) and  (max-width: 1200px) {

  .details {
    padding-right: 0rem;
}

.success {
  padding-right: 8rem;
}

.sucess-icon .social {
  padding: 0rem 0rem;
}

.sucess-icon .social svg {
  margin-top: 1rem;
}

.sucess-icon {
  padding: 2rem 1.5rem;
}

.info .price button {
  padding: 0.5rem 1.5rem !important;
}
}

@media only screen and (max-width: 768px) {
  .info .hr {
    width: 15%;
    margin-left: 17rem !important;
  }
  .info p {
    padding-bottom: 1rem;
  }
  .info input[type="text"],
  .info input[type="tel"],
  .info input[type="email"],
  .info input[type="password"] {
    width: 100%;
  }

  .price-mob {
    display: none;
  }
  .sucess-icon{
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .info .hr {
    width: 27%;
    margin-left: 7rem !important;
  }

  .info .button button {
    padding: 0.5rem 1rem;
}

.info p {
  padding-bottom: 0rem;
}

.terms{
  padding-bottom: 1rem !important;
}

.success{
  padding-right: 124px;
}
}
