@import "../Sass/variables.scss";
@import "../Sass/mixin.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.landing {
  margin-top: -1rem;
}

.container {
  max-width: 75% !important;
  margin: 0 auto !important;
}

// Banner style starts

.slider {
  display: flex;
  background-color: #e5e5e7;
  .slide-content {
    padding: 8rem;

    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.2rem;
      padding-right: 12rem;
      text-align: left;
    }

    p {
      font-size: 0.9rem;
    }

    button {
      background-color: $primarycolor;
      color: $white;
      border: none;
      @include landing-button;
    }
  }
}
.carousel-indicators {
  display: none !important;
}

// HomeCategory style starts

.homecategory {
  background-color: $white;
  position: absolute;
  z-index: 999;
  top: 33rem;
  left: 5rem;
  right: 5rem;

  .box {
    background-size: cover;
    margin: 0.4rem;
    padding-top: 12rem;
  }
  .box1 {
    background-image: url("https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg");
  }

  .box2 {
    background-image: url("https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg");
  }

  .box3 {
    background-image: url("https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg");
  }

  .box4 {
    background-image: url("https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg");
  }

  .box-content {
    background-color: #1b252cd9;
    color: $white;
    padding: 1.4rem 0 0.4rem 2.4rem;
    border-bottom: 7px solid $primarycolor;

    h4 {
      font-family: "Source Serif Pro", serif;
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
      letter-spacing: 0.3px;
    }
  }
}

// Collection style starts

.collection {
  margin-top: 15rem !important;
  .content {
    padding: 4rem 4rem 4rem 7rem;

    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.5rem;
      text-align: left;
    }

    h5 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
    }

    button {
      background-color: $primarycolor;
      color: $white;
      border: none;
      margin-right: 1rem;
      @include landing-button;
    }

    .collect button {
      background-color: transparent;
      color: $primarycolor;
      border: 2px solid $primarycolor;
      margin-right: 1rem;
      font-weight: 600;
      @include landing-button;
    }

    hr {
      height: 0.5rem !important;
      width: 18%;
      background-color: $primarycolor;
      border: none;
      margin-top: 3rem;
      opacity: 3;
    }
  }

  img {
    width: 100%;
    margin-top: 3rem;
  }
}

// Advanture style starts

.adventure {
  padding-bottom: 6rem;
  padding-top: 2rem;

  img {
    width: 100%;
  }

  .content {
    background-color: #1b252c;
    color: white;
    padding: 1.5rem 2rem;
    margin-top: -1rem;
    padding-top: 6rem;

    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: left;
    }

    h5 {
      margin-top: 1rem;
      letter-spacing: 1px;
      font-size: 1rem;
    }

    button {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      padding: 0.3rem 1rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
      border-radius: 0.8rem;
      margin-top: 2rem;
    }

    hr {
      height: 0.5rem !important;
      width: 30%;
      background-color: #e26a2c;
      border: none;
      margin-top: 4.5rem;
      opacity: 3;
      position: relative;
      left: -5rem;
    }

    svg {
      position: relative;
      right: 11.8rem;
      top: 3.5rem;
    }
  }
}

.slider-tablet {
  display: none;
}

.slider-mobile {
  display: none;
}

.homecategory .mobile {
  display: none;
}

.collection .mobile {
  display: none;
}

.adventure .mobile {
  display: none;
}

// Responsive

@media only screen and (min-width: 1440px) and (max-width: 1500px) {
  .adventure .content {
    padding: 1.5rem 3rem;
    padding-top: 8rem;
  }

  .adventure .content svg {
    right: 12.9rem;
  }

  .adventure .content hr {
    left: -6rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .slider .slide-content h1 {
    padding-right: 0rem;
  }

  .slider .slide-content {
    padding: 5rem;
  }

  .homecategory {
    top: 28rem;
    left: 0rem;
    right: 0rem;
  }

  .homecategory .box {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .homecategory .box-content h4 {
    font-size: 1.3rem;
  }

  .homecategory .box-content {
    background-color: #1b252cd9;
    color: white;
    padding: 1.4rem 0 0.4rem 0.4rem;
  }

  .collection .content {
    padding: 4rem;
  }

  .collection .content .collect button {
    padding: 0.5rem 1rem;
  }

  .collection .content hr {
    width: 30%;
  }

  .adventure {
    padding-top: 0rem;
  }

  .adventure img {
    height: 19.6rem;
  }

  .adventure .content {
    padding: 1rem 2rem;
    padding-top: 3rem;
  }

  .adventure .content h1 {
    font-size: 1.9rem;
  }

  .adventure .content hr {
    left: -4rem;
  }

  .adventure .content svg {
    right: 11.8rem;
  }

  .collection {
    margin-top: 18rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90% !important;
    margin: 0 auto !important;
  }

  .slider-desktop {
    display: none;
  }

  .slider-tablet {
    display: block;
  }

  .carousel-caption {
    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.2rem;
      padding: 0 8rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
    }

    button {
      background-color: $primarycolor;
      color: $white;
      border: none;
      @include landing-button;
    }
  }

  .carousel-caption {
    bottom: 5rem !important;
    color: $black !important;
  }

  .homecategory {
    top: 36rem;
    left: 2rem;
    right: 2rem;
  }

  .cato {
    margin-top: 1rem;
  }

  .collection .desktop {
    display: none;
  }

  .collection .mobile {
    display: block;
  }

  .collection {
    margin-top: 37rem !important;
  }

  .collection .content {
    padding: 3rem 0rem;
  }

  .collection .content h1 {
    text-align: center !important;
  }

  .content h5 {
    text-decoration: none;
    padding-top: 0rem;
  }
  .collection .content button {
    padding: 0.6rem 4.7rem;
  }

  .collection .content hr {
    margin-top: 2rem;
    margin-left: 19rem;
  }

  .adventure .desktop {
    display: none;
  }

  .adventure .mobile {
    display: block;
  }

  .adventure {
    padding: 0;
  }

  .adventure .content {
    margin: -2rem 2.7rem 2rem 2.7rem !important;
    padding-top: 6px;
  }

  .adventure .content h1 {
    text-align: center;
  }

  .adventure .content hr {
    width: 19%;
    left: 0rem;
    margin-top: 0rem !important;
    margin-bottom: 2rem;
  }

  .adventure .content svg {
    position: relative;
    right: 16.5rem;
    top: -2rem;
  }

  .adventure .content {
    padding: 1rem 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .slider-tablet {
    display: none;
  }
  .slider-mobile {
    display: block;
  }

  .carousel-control-prev-icon,
  .carousel-control-next {
    display: none !important;
  }

  .carousel-caption {
    left: 1% !important;
    right: 1% !important;
    top: 13rem;
  }

  .carousel-caption h1 {
    font-size: 1.6rem;
    padding: 0rem;
  }

  .carousel-indicators {
    display: block !important;
    margin-right: 44% !important;
    margin-left: 44% !important;
    top: 26rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 4rem !important;
    background-color: $black !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
  }

  .homecategory .desktop {
    display: none;
  }

  .homecategory .mobile {
    display: block !important;
  }

  .homecategory .box {
    margin: 2rem 0;
    padding-top: 26rem;
  }

  .homecategory .box-content {
    padding: 1.4rem 0 0.4rem 0rem;
  }

  .homecategory {
    top: 36rem;
    left: 0rem;
    right: 0rem;
  }

  .homecategory .box1,
  .homecategory .box2,
  .homecategory .box3,
  .homecategory .box4 {
    background-size: cover;
  }

  .collection {
    margin-top: 110rem !important;
  }
}

@media only screen and (max-width: 425px) {
  .carousel-indicators {
    margin-right: 43% !important;
    margin-left: 43% !important;
  }

  .homecategory .box {
    padding-top: 14rem;
  }

  .collection {
    margin-top: 79rem !important;
  }

  .collection .content hr {
    margin-left: 10rem;
  }

  .adventure .content {
    margin: -2rem 1.7rem 2rem 1.4rem !important;
  }

  .adventure .content svg {
    right: 7.6rem;
  }

  .adventure .content {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-indicators {
    margin-right: 41% !important;
    margin-left: 41% !important;
  }

  .collection {
    margin-top: 86rem !important;
  }

  .collection .content hr {
    margin-left: 9rem;
  }

  .adventure .content svg {
    top: -1.5rem;
    right: 6.6rem;
  }

  .adventure .content {
    padding: 1rem 3rem;
  }

  .adventure .content hr {
    width: 28%;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-control-prev-icon,
  .carousel-control-next {
    display: none !important;
  }

  .carousel-caption {
    left: 1% !important;
    right: 1% !important;
    top: 13rem;
  }

  .carousel-caption h1 {
    font-size: 1.6rem;
    padding: 0rem;
  }

  .carousel-indicators {
    display: block !important;
    margin-right: 40% !important;
    margin-left: 40% !important;
    top: 26rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 4rem !important;
    background-color: $black !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
  }

  .homecategory .desktop {
    display: none;
  }

  .homecategory .mobile {
    display: block !important;
  }

  .homecategory .box {
    margin: 2rem 0;
  }

  .homecategory .box-content {
    padding: 1.4rem 0 0.4rem 0rem;
  }

  .homecategory {
    left: 1rem;
    right: 1rem;
  }

  .collection {
    margin-top: 90rem !important;
  }

  .collection .content hr {
    margin-top: 2rem;
    margin-left: 6rem;
    width: 30%;
  }

  .collection .content h1 {
    font-size: 2rem;
  }

  .adventure .content {
    margin: -2rem 1rem 2rem 1.3rem !important;
    padding: 0 1rem 2rem 1rem;
  }

  .adventure .content svg {
    position: relative;
    right: 7rem;
    top: -1.5rem;
  }

  .adventure .content hr {
    margin-bottom: 2rem;
  }
}
