@import '../Sass/variables.scss';
@import '../Sass/mixin.scss';


@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.landing {
  margin-top: -1rem;
}

.container {
  max-width: 75% !important;
  margin: 0 auto !important;
}

// Banner style starts

.slider {
  display: flex;
  background-color: #E5E5E7;
  .slide-content {
    padding: 8rem;
  
  h1 {
    font-family: "Source Serif Pro", serif;
    font-weight: 600;
    font-size: 2.2rem;
    padding-right: 12rem;
    text-align: left;
  }

  p {
    font-size: .9rem;
  }

  button {
    background-color: $primarycolor;
    color: $white;
    border: none;
    @include landing-button;
  }
}
}
.carousel-indicators {
  display: none !important;
}


// HomeCategory style starts

.homecategory {
  background-color: $white;
  position: absolute;
  z-index: 999;  
  top: 33rem;
  left: 5rem;
  right: 5rem;

  .box{
    background-size: cover;
    margin: 0.4rem;
    padding-top: 12rem;
  }
  .box1 {
    background-image: url("https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg");
  }

  .box2 {
    background-image: url("https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg");
  }

  .box3 {
    background-image: url("https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg");
  }

  .box4 {
    background-image: url("https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg");
  }
  
  .box-content {
    background-color: #1b252cd9;
    color: $white;
    padding: 1.4rem 0 0.4rem 2.4rem;
    border-bottom: 7px solid $primarycolor;

    h4 {
      font-family: "Source Serif Pro", serif;
      font-size: 1.4rem;
    }

    p {
      font-size: .9rem;
      letter-spacing: 0.3px;
    }
  }
}


// Collection style starts

.collection {
  margin-top: 15rem !important;
  .content {
    padding: 4rem 4rem 4rem 7rem;

    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.5rem;
      text-align: left;
    }

    h5{
      font-size: 1.1rem;
      font-weight: 600;
    }

    p {
      font-size: .9rem;
    }

    button {
      background-color: $primarycolor;
      color: $white;
      border: none;
      margin-right: 1rem;
      @include landing-button;
    }
    
    .collect button{
        background-color: transparent;
        color: $primarycolor;
        border: 2px solid $primarycolor;
        margin-right: 1rem;
        font-weight: 600;
        @include landing-button;
    }

    hr {
      height: 0.5rem !important;
      width: 18%;
      background-color: $primarycolor;
      border: none;
      margin-top: 3rem;
      opacity: 3;
    }
  }

  img {
    width: 100%;
    margin-top: 3rem;
  }
}

// Advanture style starts

.adventure {
  padding-bottom: 6rem;
  padding-top: 2rem;
  
  img {
    width: 100%;
  }

  .content {
    background-color: #1b252c;
    color: white;
    padding: 2rem 5rem;
    margin-top: -1rem;
    padding-top: 3.5rem;

    h1 {
      font-family: "Source Serif Pro", serif;
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: left;
    }

    h5 {
      margin-top: 1rem;
      letter-spacing: 1px;
      font-size: 1rem;
    }

    button {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      padding: 0.3rem 1rem;
      font-size: .8rem;
      letter-spacing: 1px;
      border-radius: 0.8rem;
      margin-top: 2rem;
    }

    hr {
      height: 0.5rem !important;
      width: 30%;
      background-color: #e26a2c;
      border: none;
      margin-top: 3.5rem;
      opacity: 3;
      position: relative;
      left: -8rem;
    }
    
    svg{
      position: relative;
      right: 14.8rem;
      top: 2.5rem;
    }
  }
}


// Responsive 


@media only screen and (max-width: 768px){

  .slider .slide-content{
    display: none;
  }
}