@import "../Sass/variables.scss";
@import "../Sass//mixin.scss";

.navdesk {
  background-color: $primarycolor;
  color: $white;
  padding-top: 0.5rem;
}
.navbar {
  padding-bottom: 0 !important;
  .logo {
    position: relative;
  }
  .logo img {
    width: 80%;
    margin-right: -21rem;
  }
  .logo h2 {
    font-size: 1.6rem;
    // font-family: "Righteous", cursive;
    font-family: Helvetica, Arial, sans-serif;
    color: $black !important;
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 6px;

    a {
      color: $white;
    }
  }
  // .logo span {
  //   display: inline-block;
  //   margin: 0;
  //   line-height: 1em;
  //   font-family: Helvetica, Arial, sans-serif;
  //   font-weight: bold;
  //   background: linear-gradient(to right, #1c87c9 50%, $white 50%);
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  ul li {
    font-weight: 400;
    color: $white;
    a {
      color: $white;
    }
  }

  .buttons {
    font-size: 18px;
    // padding-right: 1rem;

    a {
      padding-left: 1rem;
      color: $white;
    }
    .login {
      @include nav;
      padding-left: 5px;
    }
    .signin {
      @include nav;
    }
    .cart {
      @include nav;

      button {
        color: $white;
        background-color: #ff8243;
        // border: 2px solid;
        padding: 0px 6px;
        border-radius: 12px;
        margin: -23px 0px 0px -16px;
      }
    }
  }
  .navbar-nav {
    padding-left: 7rem;
    a {
      font-size: 16px;
    }
  }
}

.navbar-brand {
  font-family: "Source Serif Pro", serif;
}

@media only screen and (max-width: 993px) {
  .navdesk {
    display: none;
  }
}

.navdesk svg {
  color: $white;
}

// #hover-underline-animation {
//   display: inline-block;
//   position: relative;
// }

// #hover-underline-animation:after {
//   content: '';
//   position: absolute;
//   width: 100%;
//   transform: scaleX(0);
//   height: 3px;
//   bottom: 0;
//   left: 0;
//   background-color: $white;
//   transform-origin: bottom right;
//   transition: transform 0.25s ease-out;
// }

// #hover-underline-animation:hover:after {
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }

li :active {
  background-color: initial;
  border-bottom: 0.43rem ridge #ffd07f;
  border-radius: 0 !important;
}

@media only screen and (max-width: 1024px) {
  .navbar .navbar-nav {
    padding-left: 0rem;
  }
}
