@import '../Sass/variables.scss';

.product{
    padding-top:25px;
}

.card{
    border: none !important;
    .card-body{
        text-align: left;
        p{
            font-weight: 500;
            font-size: 1rem;
        }
    }
}


