@import '../Sass/variables.scss';

.product{
    padding-top:25px;
}

.card{
    border: none !important;
    padding: 1.5rem;
    .card-body{
        text-align: left;
        p{
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

.page-item.active .page-link,.page-item .page-link {
    color: $black !important;
    background-color: $white !important;
    border-color: $white !important;
}

.page{
    display: flex;
    justify-content: center;
}



@media only screen and (min-width: 1024px) and  (max-width: 1200px){

    .card {
        padding: 0rem;
    }

    .Producttitle h1 {
        padding-right: 22rem !important;
    }

    .cart .group {
        padding-left: 0rem;
        padding-top: 10rem;
    }

    .acco-right {
        padding-left: 10rem;
    }

    .cart .checkout .check {
        padding: 8px 46px;
    }

    .cart .pay img{
        width: 100%;
    }

    .cart hr {
        margin-left: 22rem!important;
        width: 17%;
    }

    .info .hr {
        margin-left: 25rem!important;
    }
}


@media only screen and (max-width: 768px){
    .small{
        display: none;
    }
    .p-4 {
        padding: 0 !important;
    }
    .card-body h5{
        height: 3rem !important;
    }
    .card {
        padding: 0rem !important;
    }
}

@media only screen and (max-width: 320px){
    .card img{
        height: 180px;
    }
    .card-body h5{
        font-size: 1.1rem;
    }
}


