@import "../Sass/variables.scss";

.signin {
  a{
    color: $black;
  }
  padding-top: 40px;
  padding-bottom: 20px;
  .details{
    // padding: 2rem 25rem;
    li {
        list-style: none;
      }
      ul {
        display: flex;
        gap: 20px;
        padding-left: 0px;
      }
      .details .icons{
        
      }
      input[type=email],input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #B5B7BC;
        border-radius: 4px;
      }
      label{
        font-size: 1.2rem;
        padding-top: 1rem;
      }
      button{
        padding: 5px 16px;
        border-radius: 2rem;
        border: none;
        background-color: $primarycolor;
        margin-top: 2rem;

        a{
          color: white;
        }
      }
      .submit button{
        padding: 5px 45px !important;
      }
  }
  
}
